@media (min-width: 770px) {
  .shop-bar-footer,
  .nav-bar-footer {
    padding-top: 31px;
  }
  .footer-nav-part {
    display: flex;
    justify-content: right;
  }

  .header__nav-social-list-footer li {
  display: flex;
  align-items: flex-end;
  margin-top :20px;;
  justify-content: center;

}
.footer-top-part {
  display: flex;
  justify-content: space-evenly;
}
}

.footer-top-part {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.footer {
  background-color: rgb(33, 33, 33);
}
.nav-bar-footer,
.shop-bar-footer {
  display: flex;
  flex-direction: column;
  margin: 0 40px;
  text-align: center;
}

.nav-bar-footer a {
  color: #222;
  line-height: normal;
  font-size: 16px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 30px;
  text-decoration: none;
  color: var(--accent-text-color);
}
.footer-nav-part h3 {
  color: #fff;
}
.nav-bar-footer a:hover {
  color: #fff;
}
.shop-bar-footer a:hover {
  color: #fff;
}
.shop-bar-footer a {
  line-height: 30px;
  text-decoration: none;
  color: var(--accent-text-color);
}
.footer__nav-logo {
  margin: 0 auto;
}
.logo-img-footer {
  padding-top: 95px;
  width: 238px;
  height: 60px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.footer-text-content {
  display: flex;
  text-align: center;
  font-size: 14px;
  line-height: 1.4;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  letter-spacing: 0;
  color: var(--accent-text-color);
  text-transform: none;
  margin-left: auto;
  margin-right: auto;
}
.footer-text-content {
  display: flex;
  width: 70%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.subscribe-part h3 {
  margin-top: 50px;
  text-align: center;
  color: #fff;
}
.subscribe-btn {
  display: flex;
  background-color: var(--icons-color-hover);
  height: 47px;
  border-radius: 2px;
  border-style: none;
  color: #fff;
  font-weight: 600;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 0 15px 0;
  justify-content: center;
}

.subscribe-btn:hover {
  transition: 0.2s;
  color: #222;
  background-color: #fff;
}
#email-input {
  border-color: #f9f9f9;
  background-color: rgb(46, 46, 46);
  width: 257.5px;
  height: 47px;
  display: flex;
  border-style: none;
  margin-bottom: 25px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2px;
  text-align: center;
  width: 80%;
}
#email-input::placeholder {
  text-align: center;
}

.created-by {
  background-color: #000;
  display: block;
}
.created-by p {
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  color: var(--accent-text-color);
  font-size: 12px;
  line-height: 1.6;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0;
  text-transform: none;
}

.header__nav-social-list-footer li {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__nav-social-list-footer {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
}
.header__nav-social-list-item {
  margin: 0 8px;
}

